@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

html {
    padding: 0px;
    margin: 0px;
}

body {

    background: rgb(255, 154, 0);
    background: linear-gradient(107deg, rgba(255, 154, 0, 1) 0%, rgba(255, 85, 0, 1) 82%, rgba(255, 85, 0, 1) 100%);
    font-family: 'Open Sans', sans-serif;

}

/* LOGIN SCREEN */

.login {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -175px;
    margin-left: -200px;
    background: #fff;
    width: 400px;
    /*height: 350px;*/
    padding: 35px;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 5px rgba(161, 54, 0, 0.1);
    text-align: center;
}

.login h1 {
    font-weight: lighter;
    margin-top: 10px;
}

.login .fal {
    color: #ccc;
    font-size: 40px;
}

.login input[type=email],
.login input[type=text] {
    width: 100%;
    border: 0px;
    padding: 15px;
    background: #eee;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: lighter;
    box-sizing: border-box;
    border-radius: 2px;
}

.login input[type=password] {
    width: 100%;
    border: 0px;
    padding: 15px;
    background: #eee;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: lighter;
    border-radius: 2px;
}

.login input[type=submit] {
    width: 100%;
    border: 0px;
    padding: 15px;
    background: #ff5500;
    box-sizing: border-box;
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
    font-weight: lighter;
    cursor: pointer;
    border-radius: 2px;
}

.login .login-error {
    font-weight: bold;
    color: #ff0000;
    padding: 5px 0 15px 0;
}

/* */