ol, ul {
	list-style-position: inside;
}

a {
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

html, body {
	height: 100%;
}


label, button, input[type=submit], input[type=button] {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

img {
	max-width: 100%;
	height: auto;
}

body {-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}