$color_main: #707070;
$color_blue: #64C2C8;
$color_blue_2: #3BACC7;
$color_blue_dark: #006992;
$color_yellow: #F2B825;
$color_white: #ffffff;
$color_grey: #E8E8E8;

$font_BC: 'BigCityGrotesquePro', sans-serif;
$font_BS: 'Black Space', sans-serif;